{% extends 'base.html' %}

{% block body %}

<div class= "container">
    <form method="post">
        <br>

        {% csrf_token %}
        <h3 style="color: sienna; ">Edit Item</h3>
        {% for field in form %}

        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label"> {{ field.label }}</label>
            <div class="col-10">
                {{field}}
            </div>
        </div>
        {% endfor %}

        <br>
        <button type="submit" class="btn btn-primary" name="button">Edit Device</button>
    </form>
</div>

{% endblock %}